body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.search-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-family: Tahoma;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    opacity: 0.9;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#healthy {
    background-color: rgb(122, 186, 53);
    position: absolute;
    right: 140%;
    width: 180px;
    bottom: -100%;
}

#healthy:hover,
#healthy:active {
    background-color: #689f2d;
}

#time {
    background-color: rgb(255, 77, 77);
    position: absolute;
    right: 55%;
    width: 180px;
    bottom: -100%;
}

#time:hover,
#time:active {
    background-color: #cc0000;
}

#money {
    background-color: rgb(16, 133, 226);
    position: absolute;
    width: 180px;
    left: 55%;
    bottom: -100%;
}

#money:hover,
#money:active {
    background-color: #0d6fbf;
}

#no-care {
    background-color: rgb(204, 204, 204);
    position: absolute;
    left: 140%;
    width: 180px;
    bottom: -100%;
}

#no-care:hover,
#no-care:active {
    background-color: #a6a6a6;
}
